# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Out folders
_out/
_build/

# IDEs folders
.idea/

# Python
*.pyc

# Precompiled Headers
*.gch
*.pch

# Cached files
*.*~

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# GLEW *.rc files
extern/libs/glew-1.13.0/*.pc
extern/libs/glew-1.13.0/*.pc.in

# Executables
*.exe
*.out
*.app